@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 800;
  padding: 1rem 2rem;
  text-transform: uppercase;
  position: fixed;
  width: 100%;
  z-index: 1000;
  background: hsl(0deg, 0%, 98%);
  box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
}
.header-text {
  font-size: 0.9rem;
  letter-spacing: 0.2em;
  padding-left: 0.5em;
}
.header .avatar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-btn {
  position: absolute;
  z-index: 1;
  right: 1rem;
  top: 1rem;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.menu-btn__burger {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background: hsl(0deg, 0%, 20%);
  transition: all 0.3s ease-in-out;
}
.menu-btn__burger::before {
  content: "";
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background: hsl(0deg, 0%, 20%);
  transition: all 0.3s ease-in-out;
}
.menu-btn__burger::after {
  content: "";
  position: absolute;
  top: 8px;
  width: 20px;
  height: 3px;
  background: hsl(0deg, 0%, 20%);
  transition: all 0.3s ease-in-out;
}
.menu-btn__burger.open {
  transform: rotate(720deg);
  background: transparent;
}
.menu-btn__burger.open::before {
  transform: rotate(45deg) translate(5px, 8px);
}
.menu-btn__burger.open::after {
  width: 28px;
  transform: rotate(-45deg) translate(3px, -7px);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 0.98;
  visibility: hidden;
}
.nav.open {
  visibility: visible;
}
.nav .menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background: hsl(0deg, 0%, 7%);
  list-style-type: none;
  padding-right: 1rem;
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
}
.nav .menu-nav.open {
  transform: translateY(0);
}
.nav .menu-nav__item {
  transform: translateX(100vw);
  transition: all 0.3s ease-in-out;
}
.nav .menu-nav__item.open {
  transform: translateX(0);
}
.nav .menu-nav__item.active > a {
  color: hsl(52deg, 95%, 50%);
}
.nav .menu-nav__link {
  color: #e0e0e0;
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 2rem 0;
  font-weight: 800;
  transition: all 0.3s ease-in-out;
}
.nav .menu-nav__link:hover {
  background-color: #333333;
  color: #e0e0e0;
}
.nav .menu-nav__link:active {
  color: hsl(52deg, 95%, 50%);
}

.menu-nav__item:nth-child(1) {
  transition-delay: 0.25s;
}

.menu-nav__item:nth-child(2) {
  transition-delay: 0.35s;
}

.menu-nav__item:nth-child(3) {
  transition-delay: 0.45s;
}

.menu-nav__item:nth-child(4) {
  transition-delay: 0.55s;
}

.hero-section-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.8)), url(https://d33wubrfki0l68.cloudfront.net/daac8858fd4a0ccea44f59dfd079c3c16c263f33/c157c/assets/svg/common-bg.svg);
  background-position: center;
  height: 100vh;
  padding: 0;
}
.hero-section-wrapper .article {
  padding: 3rem 1rem;
  text-align: center;
}
.hero-section-wrapper .article h1 {
  font-size: 3rem;
  padding-bottom: 2.5rem;
}
.hero-section-wrapper .article p {
  font-size: 1.1rem;
  line-height: 1.6;
}
.hero-section-wrapper button {
  width: 12rem;
  max-width: 60%;
}

.about-section-wrapper {
  background: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  justify-content: center;
}
.about-section-wrapper > div {
  display: grid;
  gap: 3.5rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-top: 40px;
}
.about-section-wrapper > div .more-info-wrapper h3 {
  font-size: 1.5rem;
  padding: 0 0 40px;
}
.about-section-wrapper > div .more-info-wrapper p {
  color: #5e5e5e;
  font-size: 1rem;
  padding: 0 0 40px;
}
.about-section-wrapper > div .more-info-wrapper p a {
  color: hsl(52deg, 95%, 50%);
  font-weight: 700;
  text-decoration: underline;
}
.about-section-wrapper > div .more-info-wrapper .skills-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.projects-section-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.projects-section-wrapper > div {
  display: grid;
  gap: 3.5rem;
  margin: 40px auto;
  width: 100%;
}
.projects-section-wrapper > div .single-project-wrapper {
  display: grid;
  place-items: center;
  gap: 2.5rem;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
}
.projects-section-wrapper > div .single-project-wrapper h3 {
  font-size: 1.5rem;
  padding: 0 0 1.5rem;
}
.projects-section-wrapper > div .single-project-wrapper p {
  color: #5e5e5e;
  font-size: 1rem;
}
.projects-section-wrapper > div .single-project-wrapper p > a {
  color: hsl(52deg, 95%, 50%);
  font-weight: 700;
  text-decoration: underline;
}
.projects-section-wrapper > div .single-project-wrapper .skills-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem 0;
}
.projects-section-wrapper > div .single-project-wrapper .btn-wrapper {
  display: flex;
  gap: 1em;
}
.projects-section-wrapper > div .single-project-wrapper .btn-wrapper .btn {
  font-size: 0.8rem;
  padding: 1rem 1.2rem;
  white-space: nowrap;
}
.projects-section-wrapper > div .single-project-wrapper > img {
  width: 100%;
  height: auto;
}

.contact-section-wrapper {
  background: linear-gradient(to right, rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.8)), url(https://d33wubrfki0l68.cloudfront.net/daac8858fd4a0ccea44f59dfd079c3c16c263f33/c157c/assets/svg/common-bg.svg);
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  justify-content: center;
}
.contact-section-wrapper form {
  width: 100%;
  display: flex;
  justify-content: center;
}
.contact-section-wrapper form .container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
  width: 100%;
  max-width: 80rem;
  /* ///// inputs /////*/
}
.contact-section-wrapper form .container .col-xs-12 {
  grid-column: 1/-1;
}
.contact-section-wrapper form .container .col-md-6 {
  grid-column: 1/-1;
}
.contact-section-wrapper form .container input:focus ~ label,
.contact-section-wrapper form .container textarea:focus ~ label,
.contact-section-wrapper form .container input:valid ~ label,
.contact-section-wrapper form .container textarea:valid ~ label {
  font-size: 0.7rem;
  color: hsl(52deg, 95%, 50%);
  margin-bottom: 1rem;
  top: -5px;
  transition: all 0.225s ease-in-out;
}
.contact-section-wrapper form .container .styled-input {
  float: left;
  width: 100%;
  margin: 1rem 0;
  position: relative;
  border-radius: 0.7rem;
}
.contact-section-wrapper form .container .styled-input label {
  color: hsl(52deg, 95%, 50%);
  font-size: 1rem;
  padding: 1.3rem 30px 1rem;
  position: absolute;
  top: 10px;
  left: 0;
  transition: all 0.225s ease-in-out;
  pointer-events: none;
}
.contact-section-wrapper form .container .styled-input .wide {
  max-width: 100%;
}
.contact-section-wrapper form .container input,
.contact-section-wrapper form .container textarea {
  padding: 30px;
  border: 0;
  max-width: 100%;
  width: 100%;
  font-size: 1rem;
  background-color: #2b2b2b;
  color: hsl(0deg, 0%, 98%);
  border-radius: 0.7rem;
}
.contact-section-wrapper form .container input:focus,
.contact-section-wrapper form .container textarea:focus {
  outline: 0;
}
.contact-section-wrapper form .container input:focus ~ span,
.contact-section-wrapper form .container textarea:focus ~ span {
  width: 100%;
  transition: all 0.225s ease-in-out;
}
.contact-section-wrapper form .container input {
  width: 100%;
}
.contact-section-wrapper form .container textarea {
  max-width: 100%;
  min-height: 15em;
  width: 100%;
}
.contact-section-wrapper form .container .form-btn {
  padding: 1rem 1.2rem;
  width: 100%;
}

.footer-section-wrapper {
  background-color: hsl(0deg, 0%, 7%);
  color: hsl(0deg, 0%, 98%);
  text-align: center;
  /* Social Media Icons */
}
.footer-section-wrapper .article h1 {
  color: hsl(0deg, 0%, 98%);
  font-size: 1.3rem;
  padding-bottom: 1rem;
}
.footer-section-wrapper .article p {
  font-size: 0.7rem;
  line-height: 1.6;
}
.footer-section-wrapper .social-media-list {
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  max-width: 26rem;
  padding: 1rem 0 0;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
.footer-section-wrapper .social-media-list li {
  display: grid;
  place-items: center;
  position: relative;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: hsl(0deg, 0%, 98%);
  background-color: #080808;
  cursor: pointer;
  transition: all 0.225s ease-in-out;
}
.footer-section-wrapper .social-media-list li:hover {
  background-color: hsl(0deg, 0%, 98%);
}
.footer-section-wrapper .social-media-list li:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px hsl(0deg, 0%, 98%);
  pointer-events: none;
  transition: all 0.225s ease-in-out;
}
.footer-section-wrapper .social-media-list li:hover:after {
  opacity: 1;
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}
.footer-section-wrapper .social-media-list li a {
  color: hsl(0deg, 0%, 98%);
  z-index: 10;
}
.footer-section-wrapper .social-media-list li:hover a {
  color: hsl(0deg, 0%, 7%);
}

@media screen and (min-width: 768px) {
  section {
    padding: 6rem 6rem !important;
  }
  header .menu-btn {
    visibility: hidden;
  }
  header .nav {
    visibility: visible;
  }
  header .nav .menu-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    transform: translateY(0);
    height: 100%;
    background: transparent;
    padding: 0 2rem;
  }
  header .nav .menu-nav__item {
    display: inline;
    padding-right: 1.5rem;
    transform: translateX(0);
  }
  header .nav .menu-nav__link {
    color: hsl(0deg, 0%, 20%);
    font-size: 0.9rem;
    padding: 1rem;
  }
  .single-project-wrapper .btn-wrapper {
    display: block;
  }
  .single-project-wrapper .btn-wrapper .btn {
    font-size: 1rem;
    margin-right: 2rem;
  }
  .contact-section-wrapper form > .container .col-md-6 {
    grid-column: span 6;
  }
  .contact-section-wrapper form > .container .styled-input {
    width: 100%;
  }
  .contact-section-wrapper form > .container .form-btn {
    max-width: 20rem;
  }
  .contact-section-wrapper form > .container .btn-wrapper {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 1024px) {
  header {
    padding: 1rem 6rem !important;
  }
}
:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  color: hsl(0deg, 0%, 20%);
  overflow-x: hidden;
}

section {
  padding: 3rem 2rem;
}

a {
  color: hsl(0deg, 0%, 20%);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: hsl(0deg, 0%, 7%);
  font-family: "Righteous", cursive;
  line-height: 1;
  text-transform: uppercase;
}

h3,
h4,
h5,
h6 {
  text-transform: capitalize;
}

p {
  line-height: 1.6;
}

.btn {
  background-color: #c7ad05;
  box-shadow: 0 10px 0 #635703;
  border: none;
  border-radius: 0.7rem;
  color: hsl(0deg, 0%, 20%);
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 700;
  padding: 1.05rem 2.8rem;
  text-transform: uppercase;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: hsl(52deg, 95%, 50%);
  box-shadow: 0 10px 0 #958204;
}

.btn:active {
  box-shadow: 0 5px 0 #958204;
  transform: translateY(5px);
}

.tag {
  color: #e0e0e0;
  font-size: 0.9rem;
  background-color: #333333;
  border-radius: 0.7rem;
  margin: auto 0.9rem 0.9rem 0;
  padding: 0.8rem 1rem;
}

/* set styles for reusable component */
.reusable-header {
  padding: 0 1rem 3rem;
  text-align: center;
}

.reusable-header h2 {
  font-size: 2.2rem;
  padding-bottom: 1.5rem;
}

.reusable-header span {
  font-size: 1rem;
}

.reusable-header p {
  color: #525252;
  font-size: 1rem;
  max-width: 50rem;
  padding-top: 1.5rem;
}/*# sourceMappingURL=main.css.map */