.about-section-wrapper {
  background: lighten($primary-color, 90%);
  @include flex-center-between;
  flex-direction: column;
  justify-content: center;

  &>div {
    display: grid;
    gap: 3.5rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-top: 40px;

    .more-info-wrapper {
      h3 {
        @include resize(fs-h3);
        padding: 0 0 40px;
      }

      p {
        color: lighten($primary-color, 30%);
        @include resize(fs-body1);
        padding: 0 0 40px;

        a {
          color: $accent-color;
          font-weight: weight(medium);
          text-decoration: underline;
        }
      }

      .skills-wrapper {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}