// STUB: font
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

// STUB: font size
$font-sizes: (
  'fs-h1': 3rem,
  'fs-h2': 2.2rem,
  'fs-h3': 1.5rem,
  'fs-h4': 2.2rem,
  'fs-h5': 1.3rem,
  'fs-btn': 0.9rem,
  'fs-p': 1.1rem,
  'fs-body1': 1rem,
  // 'fs-body2': 0.9rem,
  'fs-caption': 0.7rem,
);

// STUB: font weight
$font-weights: (
  'regular': 400,
  'medium': 700,
  'bold': 800,
);

// STUB: colors
$primary-color: hsl(0, 0%, 7%);
$secondary-color: hsl(0, 0%, 98%);
$text-color: hsl(0, 0%, 20%);
$accent-color: hsl(52, 95%, 50%);

// STUB: border radius
$border-radii: (
  'regular': 0.7rem,
  'medium': 1rem,
  'circle': 50%
);