@import 'resets', 'variables', 'config', 'navbar', 'navlinks', 'homeHero', 'about', 'projects', 'contact', 'responsiveness';

:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  color: $text-color;
  overflow-x: hidden;
}

section {
  padding: 3rem 2rem;
}

a {
  color: $text-color;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $primary-color;
  font-family: "Righteous", cursive;
  line-height: 1;
  text-transform: uppercase;
}

h3,
h4,
h5,
h6 {
  text-transform: capitalize;
}

p {
  line-height: 1.6;
}

.btn {
  background-color: darken($accent-color, 10%);
  box-shadow: 0 10px 0 darken($accent-color, 30%);
  border: none;
  border-radius: radius(regular);
  color: $text-color;
  cursor: pointer;
  font-size: size(fs-btn);
  font-weight: weight(medium);
  padding: 1.05rem 2.8rem;
  text-transform: uppercase;
  position: relative;
  @include transition-ease
}

.btn:hover {
  background-color: $accent-color;
  box-shadow: 0 10px 0 darken($accent-color, 20%);
}

.btn:active {
  box-shadow: 0 5px 0 darken($accent-color, 20%);
  transform: translateY(5px);
}

.tag {
  color: darken($secondary-color, 10%);
  font-size: size(fs-btn);
  background-color: lighten($primary-color, 13%);
  border-radius: radius(regular);
  margin: auto 0.9rem 0.9rem 0;
  padding: 0.8rem 1rem;
}

/* set styles for reusable component */
.reusable-header {
  padding: 0 1rem 3rem;
  text-align: center;
}

.reusable-header h2 {
  font-size: size(fs-h2);
  padding-bottom: 1.5rem;
}

.reusable-header span {
  font-size: size(fs-body1);
}

.reusable-header p {
  color: lighten($primary-color, 25%);
  font-size: size(fs-body1);
  max-width: 50rem;
  padding-top: 1.5rem;
}